rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{projectID} {
    	allow read, write: if resource.data.creatorUID == request.auth.uid;
      match /tasks/{taskID} {
      	allow read, delete: 	if get(/databases/$(database)/documents/projects/$(projectID)).data.creatorUID == request.auth.uid;
      	allow update, create: 	if get(/databases/$(database)/documents/projects/$(projectID)).data.creatorUID == request.auth.uid && request.resource.data.title.size() > 0;
        match /subtasks/{subtaskID} {
        	allow read, write: 	if get(/databases/$(database)/documents/projects/$(projectID)).data.creatorUID == request.auth.uid;
        }
      }
    }
  }
}