rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{projectID} {
    	allow read, write: if true; //request.auth.uid == resource.data.creatorUID;
      match /tasks/{taskID} {
      	allow read, delete: if true; //request.auth.uid == get(/databases/$(database)/documents/projects/$(projectID)).data.creatorUID;
      	allow update, create: if true; //request.auth.uid == get(/databases/$(database)/documents/projects/$(projectID)).data.creatorUID && request.resource.data.title.size() > 0;
        match /subtasks/{subtaskID} {
        	allow read, delete: if true; //request.auth.uid == get(/databases/$(database)/documents/projects/$(projectID)).data.creatorUID;
			allow update, create: if true; //request.auth.uid == get(/databases/$(database)/documents/projects/$(projectID)).data.creatorUID && request.resource.data.title.size() > 0;
        }
      }
    }
	match /users/{userID} {
		allow read: if request.auth.uid != null;
		allow write: if request.auth.uid == userID;
	}
  }
}